
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body{
    background-color: lightblue;
}

.box{
    width: 380px;
    height: 100%;
    margin: 200px ;
    background-color: #fff;
    
}

.box .box-header{
    line-height: 90px;
    background-color:lightblue;
    width: 100%;
    padding: 0 150px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid ;
    border-radius: 0 0 10px 10px;

}

.box form{
    padding: 35px 25px 25px 25px;
}

form .box-row input{
    width: 300px;
    height: 30px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0 0 0 10px;
}


.pass a{
    text-decoration: none;
    padding: 0 0 0 5px;
    
}
.button button{
    width: 300px;
    height: 30px;
    margin: 5px 5px 0 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 10px;

}
button:hover{
    background-color: blue;
    transition: 0.5s ease in;
}
.bottom{
    display: flex;
    padding: 0 0 25px 80px;
    
}
.bottom a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: blue;
    font-style: italic;
    font-weight: bold;
    transition: 0.5s ease-in;

}





